@import url('https://fonts.googleapis.com/css2?family=Alata&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');


:root {
    --bg-color: #1c232e;
    --primary-color: #03484c;
    --secondary-color: #0f684b;
    --third-color: #3b8952;
    --third-bis-color: #53ac59;
    --bg-input-color: #2D2D2D;
    --text-color: whitesmoke;
    --extra-color: #F00BB8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    

    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.contenedor{
    width: 100%;
    height:100vh;
    display: flex; 
    justify-content: center;
    justify-items: center;
    flex-direction: row;
    align-items: center;

    background-size: 100% 100%;
    background-position: center;
    background: linear-gradient(300deg, var(--third-bis-color) 0%, var(--bg-input-color) 60% ,var(--primary-color)100%);
    color:var(--text-color);
    padding: 100px;

}

.logo img{
    width: 500px;
    height:500px;
       
}

.container{
    color: whitesmoke;
    margin-left: 5vw;
    margin-right: 10vw;

}
#button{
    border: 2px solid var(--extra-color);
    text-decoration: none;
    color: whitesmoke;
    background: var(--bg-input-color);
    
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#button:hover{
    border:  2px solid var(--bg-input-color);
    background: var(--extra-color);
}
.titulo{
    font-size: 50px;
}
.sub{
    font-size: 20px;
}

